<h1>top page</h1>

<!-- link_to リンクを作るヘルパーメソッド-->
<%= link_to '新規投稿', '/posts/new' %>

<!-- allメソッドで全てのレコードを取得した時に
     データを一つずつ表示するための処理 -->

<% @posts.each do |post| %>
  <div class="post">
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>